$color-green    : #54cd38;
$color-green-rgb: rgb(84, 205, 56);

$color-brown-light    : #362526;
$color-brown-light-rgb: rgb(54, 37, 38);

$color-brown    : #291c1d;
$color-brown-rgb: rgb(41, 28, 29);


$color-text-header: rgb(102, 102, 102);


$color-text-white: rgb(255, 255, 255);


$color-4-rgb    : rgb(136,136,136);
$color-4    : #888;
$color-text-gray-8    : #888;
$color-text-gray-8-rgb: rgb(136, 136, 136);
$color-text-gray-6    : #666;
$color-text-gray-6-rgb: rgb(102, 102, 102);
$color-text-gray-3    : #333;
$color-text-gray-3-rgb: rgb(51, 51, 51);
$color-text-gray-63-rgb: rgb(91, 91, 91);
$color-text-gray-63: #636363;
$color-text-gray-9-rgb: rgb(153,153,153);
$color-text-gray-9: #999;
$color-69-rgb: rgb(105,105,105);
$color-69: #696969;