@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
.ptb-100 {
  padding: 100px 0;
}

.mb-100 {
  margin-bottom: 100px;
}

main#main-content .breadcrumbs-section {
  background: #f8f8f8;
}
main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner {
  color: #666;
  text-transform: capitalize;
  color: #666;
}
main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav {
  display: block;
}
main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav ul li {
  display: inline-block;
  margin-right: 12px;
  position: relative;
  margin-bottom: 0;
}
main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav ul li a {
  color: #666;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav ul li span {
  color: #999;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item {
  border-top: 0px solid #e5e5e5;
  border-right: 0px solid #e5e5e5;
  border-left: 0px solid #e5e5e5;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 30px 0;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-img a img {
  width: 100%;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-content {
  overflow: hidden;
  padding: 0 15px 0 30px;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-content h2 a {
  color: #222;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 0;
  display: block;
  line-height: 22px;
  text-decoration: none;
  font-weight: 500;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-content h4 {
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  float: left;
  margin: 0;
  padding: 5px 0 15px;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-content p {
  font-size: 14px;
  color: #6f6f6f;
  display: block;
  overflow: hidden;
  width: 100%;
  line-height: 23px;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-content .blog-action a {
  border-radius: 30px;
  display: inline-block;
  font-size: 12px;
  margin: 14px 0 0;
  padding: 8px 16px;
  text-transform: uppercase;
  border: 1px solid #54cd38;
  text-decoration: none;
  color: #54cd38;
  transition: all 0.3s ease-in;
}
main#main-content #services .grid-services .grid-item .blog-post-single-item .single-item-content .blog-action a:hover {
  color: rgb(255, 255, 255);
  background-color: #54cd38;
}
@media only screen and (max-width: 991px) {
  main#main-content main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner {
    color: #666;
    text-transform: capitalize;
    color: #666;
  }
  main#main-content main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav {
    display: block;
  }
  main#main-content main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav ul li {
    display: inline-block;
    margin-right: 12px;
    position: relative;
    margin-bottom: 0;
  }
  main#main-content main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav ul li a {
    color: #666;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  main#main-content main#main-content .breadcrumbs-section .breadcrumbs .breadcrumbs-inner nav ul li span {
    color: #999;
  }
  main#main-content main#main-content #shop .pull-right {
    order: 0;
  }
  main#main-content main#main-content #shop .pull-left {
    order: 1;
  }
}

/*# sourceMappingURL=services.css.map */
